Repository zavirukhin/messenger: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client, server

.gitlab-ci.yml:

stages:
  - triggers

client:
  stage: triggers
  trigger:
    include: client/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - client/**/*

server:
  stage: triggers
  trigger:
    include: server/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - server/**/*

refactor: add interceptor context for disable alert
  client/libs/authorization/src/lib/components/modal-telephone-number/modal-telephone-number.component.ts
  frontend/libs/authorization/src/lib/components/authorization-page/authorization-page.component.ts
  frontend/libs/authorization/src/lib/components/modal-create/modal-create.component.ts
  frontend/libs/authorization/src/lib/components/modal-verify/modal-verify.component.ts
  frontend/libs/authorization/src/lib/services/authorization/authorization.service.ts
  frontend/libs/shared/src/index.ts
  frontend/libs/shared/src/lib/tokens/disable-alert.token.ts
Due: client

refactor: remove loading var in authorization component
  frontend/libs/authorization/src/lib/components/modal-create/modal-create.component.ts
  frontend/libs/authorization/src/lib/components/modal-verify/modal-verify.component.ts
  frontend/libs/authorization/src/lib/services/authorization/authorization.service.ts
Due: none

refactor: add profile cache
  frontend/libs/messenger/src/index.ts
  frontend/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  frontend/libs/messenger/src/lib/services/profile/profile.service.ts
  frontend/libs/messenger/src/lib/types/profile.type.ts
Due: none

refactor: interface to camel style
  frontend/libs/authorization/src/lib/services/authorization/authorization.service.ts
  frontend/libs/messenger/src/lib/components/settings-page/settings-page.component.html
  frontend/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  frontend/libs/messenger/src/lib/interfaces/profile-response.interface.ts
  frontend/libs/messenger/src/lib/types/profile.type.ts
Due: none

refactor: add cache profile in service
  client/libs/authorization/src/lib/components/authorization-page/authorization-page.component.ts
  client/libs/authorization/src/lib/components/modal-telephone-number/modal-telephone-number.component.html
  client/libs/authorization/src/lib/services/authorization/authorization.service.ts
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.html
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  client/libs/messenger/src/lib/interfaces/profile-response.interface.ts
  client/libs/messenger/src/lib/services/profile/profile.service.ts
  client/libs/messenger/src/lib/types/profile.type.ts
  client/tsconfig.base.json
Due: client

refactor: upload image
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.html
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  client/libs/messenger/src/lib/services/profile/profile.service.ts
  client/libs/messenger/src/lib/types/update-profile.type.ts
Due: client

fix: double request in sub to profile get
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  client/libs/messenger/src/lib/services/profile/profile.service.ts
  client/libs/messenger/src/lib/types/update-profile.type.ts
Due: client

Rename all dto, entities, response to camelCase; Delete NoChangesDetectedException
  server/src/auth/controller/auth.controller.ts
  server/src/auth/dto/create-user.dto.ts
  server/src/auth/service/auth.service.ts
  server/src/blocked-user/controller/blocked-user.controller.ts
  server/src/blocked-user/service/blocked-user.service.ts
  server/src/contact/controller/contact.controller.ts
  server/src/contact/service/contact.service.ts
  server/src/entity/user.entity.ts
  server/src/exception/no-changes-detection.exception.ts
  server/src/jwt/jwt.strategy.ts
  server/src/migrations/1730566248080-UserInit.ts
  server/src/profile/controller/user.controller.ts
  server/src/profile/dto/update-user.dto.ts
  server/src/profile/service/user.service.ts
Due: server

refactor: change to camel case
  client/libs/authorization/src/lib/components/modal-create/modal-create.component.ts
  client/libs/authorization/src/lib/interfaces/create-profile.interface.ts
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.html
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  client/libs/messenger/src/lib/interfaces/profile-response.interface.ts
  client/libs/messenger/src/lib/types/profile.type.ts
Due: client

fix: remove unused files
  client/Gemfile
Due: client

refactor: add access modifier
  client/libs/authorization/src/lib/services/authorization/authorization.service.spec.ts
  client/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.ts
Due: client

feat(messenger): navigation bar change color with rxjs
  client/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.html
  client/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.ts
Due: client

Add field userBlockedByMe for profile
  server/src/profile/controller/user.controller.ts
  server/src/profile/dto/update-user.dto.ts
  server/src/profile/service/user.service.ts
Due: server

Create entity and migration
  server/ormconfig.ts
  server/package.json
  server/src/entity/chat-member.entity.ts
  server/src/entity/chat-role.entity.ts
  server/src/entity/chat.entity.ts
  server/src/migrations/1730566248080-UserInit.ts
  server/src/migrations/1731615286505-CreateChatsTable.ts
Due: server

ci: add cache
  client/.gitlab-ci.yml
Due: client

Chat module WIP
  server/src/app.module.ts
  server/src/chat/chat.module.ts
  server/src/chat/controller/chat.controller.ts
  server/src/chat/dto/create-chat-with-members.dto.ts
  server/src/chat/service/chat.service.ts
  server/src/entity/chat-role.entity.ts
  server/src/migrations/1731615286505-CreateChatsTable.ts
Due: server

feat(messenger): done user page
  client/libs/messenger/src/index.ts
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  client/libs/messenger/src/lib/components/user-page/user-page.component.html
  client/libs/messenger/src/lib/components/user-page/user-page.component.less
  client/libs/messenger/src/lib/components/user-page/user-page.component.ts
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/i18n/ru.json
  client/libs/messenger/src/lib/interfaces/profile-response.interface.ts
  client/libs/messenger/src/lib/interfaces/user.interface.ts
  client/libs/messenger/src/lib/messenger.routes.ts
  client/libs/messenger/src/lib/services/profile/profile.service.ts
Due: client

ci: cache test
  client/.gitlab-ci.yml
Due: client

ci: revert change
  client/.gitlab-ci.yml
Due: client

Add filed isContactedByMe
  server/src/profile/controller/user.controller.ts
  server/src/profile/service/user.service.ts
  server/src/profile/user.module.ts
Due: server

Change post unblock to delete
  server/src/blocked-user/controller/blocked-user.controller.ts
  server/src/blocked-user/dto/block-user.dto.ts
Due: server

Remove regex from get profile by custom name
  server/src/profile/controller/user.controller.ts
Due: server

Add exception
  server/src/chat/dto/create-chat-with-members.dto.ts
  server/src/chat/service/chat.service.ts
  server/src/error-codes.ts
  server/src/exception/cannot-add-self-as-member-chat.exception.ts
Due: server

Add exceptions
  server/src/chat/controller/chat.controller.ts
  server/src/chat/service/chat.service.ts
  server/src/error-codes.ts
  server/src/exception/cannot-create-chat-by-blocked-users.exception.ts
  server/src/exception/cannot-create-chat-with-blocked-users.exception.ts
  server/src/exception/users-not-found.exception.ts
Due: server

feat(messenger): implement add/remove contact and ban/unban user
  client/libs/messenger/src/lib/components/user-page/user-page.component.html
  client/libs/messenger/src/lib/components/user-page/user-page.component.ts
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/i18n/ru.json
  client/libs/messenger/src/lib/interfaces/user.interface.ts
  client/libs/messenger/src/lib/services/profile/profile.service.ts
Due: client

ci: fix workflow
  client/.gitlab-ci.yml
Due: client

ci: remove build stage
  client/.gitlab-ci.yml
Due: client

ci: revert install stage
  client/.gitlab-ci.yml
Due: client

ci: fix add default image
  client/.gitlab-ci.yml
Due: client

ci: test cache
  client/.gitlab-ci.yml
Due: client

ci: add cache for install step
  client/.gitlab-ci.yml
Due: client

ci: fix paths in cache
  client/.gitlab-ci.yml
Due: client

ci: add default image
  client/.gitlab-ci.yml
Due: client

ci: fix npm ci
  client/.gitlab-ci.yml
Due: client

ci: add sentry key for send map file
  client/.gitlab-ci.yml
Due: client

ci: fix pipeline faild cp sentry
  client/.gitlab-ci.yml
Due: client

ci: sentry change stage to build
  client/.gitlab-ci.yml
Due: client

Chat module WIP
  server/src/chat/chat.module.ts
  server/src/chat/controller/chat.controller.ts
  server/src/chat/dto/change-user-role.dto.ts
  server/src/chat/service/chat.service.ts
  server/src/entity/chat-role.entity.ts
  server/src/entity/message.entity.ts
  server/src/error-codes.ts
  server/src/exception/cannot-add-self-as-member-chat.exception.ts
  server/src/exception/cannot-change-self-chat-member-role.exception.ts
  server/src/exception/cannot-create-chat-by-blocked-users.exception.ts
  server/src/exception/cannot-create-chat-with-blocked-users.exception.ts
  server/src/exception/chat-not-found.exception.ts
  server/src/exception/insufficient-permissions-change-chat-member-role.exception.ts
  server/src/exception/member-role-not-found.exception.ts
  server/src/exception/user-not-a-member-chat.exception.ts
  server/src/exception/users-not-found.exception.ts
  server/src/migrations/1731615286505-CreateChatsTable.ts
Due: server
