Repository zavirukhin/messenger: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client, server

.gitlab-ci.yml:

stages:
  - triggers

client:
  stage: triggers
  trigger:
    include: client/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - client/**/*

server:
  stage: triggers
  trigger:
    include: server/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - server/**/*

Edit timeout ci/cd
  server/.gitlab-ci.yml
Due: server

Add timeout to all
  server/.gitlab-ci.yml
Due: server

fix: takeuntildestroy replace to subject with takeuntil
  client/libs/messenger/src/lib/components/chat-page/chat-page.component.ts
Due: client

chore: change readme.md
  client/README.md
Due: client

refactor: change subject to replaysubject
  client/libs/authorization/src/lib/components/authorization-page/authorization-page.component.ts
  client/libs/messenger/src/lib/components/chat-page/chat-page.component.ts
  client/libs/shared/src/lib/services/socket/socket.service.ts
Due: client

refactor: user button self profile not view
  client/libs/messenger/src/lib/components/user-page/user-page.component.html
  client/libs/messenger/src/lib/components/user-page/user-page.component.ts
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/i18n/ru.json
Due: client

feat: add hint for button in nav bar
  client/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.html
  client/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.ts
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/i18n/ru.json
Due: client

small fix add lastActivity
  server/src/profile/service/user.service.ts
Due: server

Change Dockerfile
  server/Dockerfile
Due: server

Move nestcli to dep
  server/Dockerfile
  server/package.json
Due: server

Add Response to metrics
  server/src/metrics/controller/metrics.controller.ts
  server/src/metrics/service/metrics.service.ts
Due: server

Add get all users
  server/src/chat-message/gateway/message.gateway.ts
  server/src/metrics/controller/metrics.controller.ts
  server/src/metrics/service/metrics.service.ts
  server/src/profile/controller/user.controller.ts
  server/src/profile/service/user.service.ts
Due: server

Add phone to swagger
  server/src/profile/controller/user.controller.ts
Due: server

Update readme
  server/README.md
Due: server

Save package-lock
  server/package-lock.json
Due: server

small fix docker
  server/Dockerfile
  server/nest-cli.json
  server/package.json
Due: server

final fix docker
  server/docker-compose.yml
Due: server

refactor: change link name
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/i18n/ru.json
Due: client

refactor: add disable button in modal create chat
  client/libs/messenger/src/lib/components/chat-list-page/chat-list-page.component.html
  client/libs/messenger/src/lib/components/chat-page/chat-page.component.ts
Due: client

feat: add validation latin in user settings
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  client/libs/messenger/src/lib/validators/latin.validator.ts
  client/public/assets/i18n/en.json
  client/public/assets/i18n/ru.json
Due: client

fix: inccorect active tab when onload page
  client/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.ts
Due: client

chore: change readme.md
  readme.md
Due: none

refactor: change setup sentry
  client/src/main.ts
Due: client

refactor: fix timer not working
  client/libs/authorization/src/lib/components/authorization-page/authorization-page.component.ts
Due: client

fix: not view new message
  client/libs/shared/src/lib/services/socket/socket.service.ts
Due: client

feat: add settings chat
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.html
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.less
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.ts
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/i18n/ru.json
  client/libs/messenger/src/lib/messenger.routes.ts
  client/libs/messenger/src/lib/services/chat-settings/chat-settings.service.ts
Due: client

fix: settings chat
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.html
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.less
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.ts
  client/libs/messenger/src/lib/i18n/ru.json
  client/libs/messenger/src/lib/services/chat-settings/chat-settings.service.ts
  client/libs/messenger/src/lib/types/chat.type.ts
Due: client

feat: addin remove members chats
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.html
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.less
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.ts
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/i18n/ru.json
  client/libs/messenger/src/lib/interfaces/members.interface.ts
  client/libs/messenger/src/lib/interfaces/remove-member.interface.ts
  client/libs/messenger/src/lib/services/chat-settings/chat-settings.service.ts
  client/libs/messenger/src/lib/types/update-chat-payload.type.ts
Due: client

fix: chat settings
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.html
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.ts
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/interfaces/remove-member.interface.ts
  client/libs/messenger/src/lib/services/chat-settings/chat-settings.service.ts
Due: client

feat: add page not found
  client/public/assets/i18n/en.json
  client/public/assets/i18n/ru.json
  client/src/app/app.routes.ts
  client/src/app/components/not-found/not-found.component.html
  client/src/app/components/not-found/not-found.component.less
  client/src/app/components/not-found/not-found.component.ts
Due: client

fix: added adding contacts
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.html
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.less
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.ts
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.html
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  client/libs/messenger/src/lib/components/user-page/user-page.component.ts
  client/libs/messenger/src/lib/services/contacts/contacts.service.ts
  client/libs/messenger/src/lib/services/profile/profile.service.ts
  client/libs/shared/src/lib/switch-panel/switch-panel.component.less
Due: client

feat: added adding contacts
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.html
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.less
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.ts
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/i18n/ru.json
  client/libs/messenger/src/lib/interfaces/users.interface.ts
  client/libs/messenger/src/lib/services/contacts/contacts.service.ts
  client/package-lock.json
  client/package.json
Due: client

fix: added adding contacts
  client/libs/messenger/src/lib/components/chat-page/chat-page.component.ts
  client/libs/messenger/src/lib/components/chat-settings-page/chat-settings-page.component.ts
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.html
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.ts
  client/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  client/libs/messenger/src/lib/components/user-page/user-page.component.ts
  client/libs/messenger/src/lib/i18n/en.json
  client/libs/messenger/src/lib/i18n/ru.json
  client/libs/messenger/src/lib/services/chat/chat.service.ts
  client/libs/messenger/src/lib/services/profile/profile.service.ts
  server/src/profile/controller/user.controller.ts
Due: client, server

fix: added adding contacts
  server/src/profile/controller/user.controller.ts
Due: server

fix: bags
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.html
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.less
  client/libs/messenger/src/lib/components/contacts-page/contacts-page.component.ts
  readme.md
Due: client

docs: change readme.md
  client/README.md
  readme.md
Due: client
