Repository zavirukhin/messenger: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, server

frontend:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml

server:
  stage: triggers
  trigger:
    include: server/.gitlab-ci.yml

feat(messenger): add cache for user profile
  frontend/libs/messenger/src/lib/services/profile/profile.service.ts
Due: none

ci: remove rules
  .gitlab-ci.yml
Due: none

ci: unpack frontend in ci pipeline
  frontend/.gitlab-ci.yml
Due: frontend

ci: add before-script
  frontend/.gitlab-ci.yml
Due: frontend

ci: add rules for start and strategy triggers
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/libs/messenger/src/test-setup.ts
  frontend/libs/settings/src/test-setup.ts
Due: frontend

ci: remove folder server optional
  frontend/.gitlab-ci.yml
Due: frontend

Create module
  server/ormconfig.ts
  server/package.json
  server/src/app.module.ts
  server/src/blocked-user/blocked-user.module.ts
  server/src/blocked-user/controller/blocked-user.controller.ts
  server/src/blocked-user/dto/block-unblock-user.dto.ts
  server/src/blocked-user/service/blocked-user.service.ts
  server/src/entity/blocked-user.entity.ts
  server/src/error-codes.ts
  server/src/exception/block-not-found.exception.ts
  server/src/exception/cannot-block-self.exception.ts
  server/src/exception/no-changes-detection.exception.ts
  server/src/exception/user-already-blocked.exception.ts
  server/src/migrations/1731174734262-CreateBlockedUsersTable.ts
Due: server

Change field last_activity to non nullable in User
  server/src/entity/user.entity.ts
  server/src/migrations/1730566248080-UserInit.ts
Due: none

Small refactoring, add get profile by id and custom name
  server/src/profile/controller/user.controller.ts
  server/src/profile/service/user.service.ts
Due: none

Add 2 endpoints, updateDto
  server/src/profile/controller/user.controller.ts
  server/src/profile/dto/update-user.dto.ts
Due: none

remove useless exceptions
  server/src/error-codes.ts
  server/src/exception/user-delete.exception.ts
  server/src/exception/user-update.exception.ts
  server/src/profile/controller/user.controller.ts
  server/src/profile/dto/update-user.dto.ts
  server/src/profile/service/user.service.ts
Due: none

Remove phone from jwt token
  server/src/jwt/jwt.strategy.ts
Due: none

feat(settings): implements settings page
  frontend/libs/authorization/src/lib/components/modal-create/modal-create.component.ts
  frontend/libs/authorization/src/lib/components/modal-verify/modal-verify.component.ts
  frontend/libs/messenger/src/index.ts
  frontend/libs/messenger/src/lib/services/profile/profile.service.ts
  frontend/libs/messenger/src/lib/types/profile-update.type.ts
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.html
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.ts
  frontend/libs/settings/src/lib/i18n/en.json
  frontend/libs/settings/src/lib/i18n/ru.json
  frontend/libs/shared/src/lib/interceptors/authorization-handler/authorization-handler.interceptor.ts
  frontend/src/app/app.config.ts
Due: none

feat(settings): add skeleton
  frontend/libs/messenger/src/index.ts
  frontend/libs/messenger/src/lib/interfaces/profile-response.interface.ts
  frontend/libs/messenger/src/lib/services/profile/profile.service.ts
  frontend/libs/messenger/src/lib/types/profile-update.type.ts
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.html
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.less
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.ts
Due: none

Create contact module
  server/ormconfig.ts
  server/package.json
  server/src/app.module.ts
  server/src/contact/contact.module.ts
  server/src/contact/controller/contact.controller.ts
  server/src/contact/dto/add-remove-contact.dto.ts
  server/src/contact/service/contact.service.ts
  server/src/entity/contact.entity.ts
  server/src/error-codes.ts
  server/src/exception/cannot-add-self-as-contact.exception.ts
  server/src/exception/contact-already-exists.exception.ts
  server/src/exception/contact-not-found.exception.ts
  server/src/migrations/1731195410302-CreateContactsTable.ts
Due: server

Change post to delete http method for delete contact
  server/src/contact/controller/contact.controller.ts
  server/src/contact/dto/add-contact.dto.ts
Due: none

Rename blocked users to list
  server/src/blocked-user/controller/blocked-user.controller.ts
Due: none

add filed BlockedByUser to get user by id and custom name
  server/src/profile/controller/user.controller.ts
  server/src/profile/service/user.service.ts
  server/src/profile/user.module.ts
Due: none

Remove delete me endpoint
  server/src/profile/controller/user.controller.ts
  server/src/profile/service/user.service.ts
Due: none

Remove unused imports
  server/src/profile/controller/user.controller.ts
Due: none

Add validation to dto and change update user
  server/src/exception/no-changes-detection.exception.ts
  server/src/profile/controller/user.controller.ts
  server/src/profile/dto/update-user.dto.ts
  server/src/profile/service/user.service.ts
  server/src/swagger/decorator/api-multi-response.decorator.ts
Due: none

Up limit to 50mb
  server/package-lock.json
  server/package.json
  server/src/main.ts
Due: server

Add twilio adapter
  server/README.md
  server/package-lock.json
  server/package.json
  server/src/auth/adapter/twilio.adapter.ts
  server/src/auth/controller/auth.controller.ts
  server/src/auth/service/code.service.ts
  server/src/error-codes.ts
  server/src/exception/twilio.exception.ts
Due: server

Add ci/cd
  server/.gitlab-ci.yml
Due: server

Change Readme
  server/README.md
Due: server

Add global ci
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  server/.gitlab-ci.yml
Due: server

change ci - unpack server
  server/.gitlab-ci.yml
Due: server

Add test Test
  server/package.json
  server/test/test.spec.ts
Due: server

Update ci
  server/.gitlab-ci.yml
Due: server

feat(settings): add combine with profile loading and transloco
  frontend/libs/messenger/src/lib/services/profile/profile.service.ts
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.html
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.ts
  frontend/libs/settings/src/lib/i18n/en.json
  frontend/libs/settings/src/lib/i18n/ru.json
  frontend/libs/settings/src/lib/transloco-loader.ts
Due: none

add update photo
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.html
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.ts
Due: none

feat(settings): add check transloco onload
  frontend/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.html
  frontend/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.ts
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.html
  frontend/libs/settings/src/lib/components/settings-page/settings-page.component.ts
  frontend/libs/shared/src/index.ts
  frontend/libs/shared/src/lib/utils/langReady.ts
Due: none

refactor: merge settings lib to messenger
  frontend/libs/messenger/src/lib/components/settings-page/settings-page.component.html
  frontend/libs/messenger/src/lib/components/settings-page/settings-page.component.less
  frontend/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  frontend/libs/messenger/src/lib/i18n/en.json
  frontend/libs/messenger/src/lib/i18n/ru.json
  frontend/libs/messenger/src/lib/messenger.routes.ts
  frontend/libs/messenger/src/lib/transloco-loader.ts
Due: none

ci: fix gitlab ci not running in merge request
  client/.gitlab-ci.yml
Due: none

feat(messenger): add upload photo, remove custom url, border in nav-bar
  client/libs/shared/src/lib/interceptors/error-handler/error-handler.interceptor.ts
  client/src/app/app.config.ts
  frontend/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.less
  frontend/libs/messenger/src/lib/components/navigation-bar/navigation-bar.component.ts
  frontend/libs/messenger/src/lib/components/settings-page/settings-page.component.html
  frontend/libs/messenger/src/lib/components/settings-page/settings-page.component.ts
  frontend/libs/messenger/src/lib/i18n/ru.json
  frontend/libs/messenger/src/lib/interfaces/profile-response.interface.ts
  frontend/libs/messenger/src/lib/types/profile-update.type.ts
  frontend/libs/shared/src/lib/utils/langReady.ts
Due: none

refactor(authorization): change if condition to switch
  frontend/libs/authorization/src/lib/components/authorization-page/authorization-page.component.html
Due: none

Path conditions:
  frontend: any of: frontend/*
  server: any of: server/*
